name: Release
on:
    release:
        types:
            - created

jobs:
    release:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v6.0.1
            - name: Setup Node
              uses: actions/setup-node@v5
              with:
                  node-version: 18
            - name: NPM Install
              run: npm install
            - name: Build and Release
              env:
                  CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: npm run publish
